body {
  font-family: 'Circular Std';
}

h2 {
  font-family: 'Circular Bold';
  font-size: 18px;
}

body {
  margin: 0 64px;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: 'Circular Std';
  src: url('CircularStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Bold';
  src: url('CircularStd-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('CircularStd-Medium.ttf') format('truetype');
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 734px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav-item {
  margin-right: 104px;
}

.nav-container {
  display: flex;
}

.divider {
  height: 1px;
  display: block;
  background-color: #D6D6D6;
}

.featured-section {
  margin-top: 40px;
}

.section-title {
  font-family: 'Circular Medium';
  font-size: 22px;
  margin-bottom: 16px;
}

.featured-one-third {
  width: 441px;
  height: 520px;
  display: inline-block;
  position: relative;
}

.featured-two-thirds {
  width: 855px;
  height: 520px;
  display: inline-block;
  position: relative;
}

.post-margin {
  margin-left: 12px;
}

.featured-row2 {
  margin-top: 12px;
  display: flex;
  height: 640px;
}

.featured-row1 {
  display: flex;
  margin-bottom: 40px;
}

.image-sizing {
  width: 100%;
  height: 100%;
}

.post-tag2 {
  width: 100%;
  border-top-right-radius: 2px;
  background-color: #f7f7f7;
}

.post-tag1 {
  width: 100%;
  background-color: #F7F7F7;
  bottom: 0;
  left: 0;
}

.tag-title {
  font-family: 'Circular Bold';
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 16px;
}

.tag-dates {
  font-family: 'Circular Medium';
  margin-top: 4px;
  font-weight: 400;
  color: #7C7C7C;
  font-size: 14px;
}

.tag-more {
  font-family: 'Circular Std';
  margin-top: 8px;
  font-weight: 100;
  color: #C2C2C2;
  font-size: 13px;
  padding-bottom: 16px;
}

.iframe-css {
  width: 1308px;
  height: 520px;
  display: inline-block;
}

.news-pics {
  height: 185px;
}

.news-post1 {
  height: 185px;
  background-color: #F7F7F7;
  margin-bottom: 16px;
  display: flex;
}

.news-content {
  display: inline-block;
  margin-left: 32px;
  margin-top: 8px;
}

.news-subtitle {
  font-size: 16px;
  margin-top: 8px;
}

.news-postdate {
  margin-top: 32px;
  color: #AFAFAF;
}

.news-more {
  font-family: 'Circular Std';
  margin-top: 8px;
  font-weight: 100;
  color: #C2C2C2;
  font-size: 13px;
  margin-bottom: 24px;
}

.news-section {
  margin-top: 40px;
}

.post-content {
  margin-top: -4px;
  padding-top: 16px;
  padding-left: 16px;
}

.event-title {
  margin-top: 0;
}

.playlists-section {
  margin-bottom: 40px;
}

.playlist-imgs {
  height: 266px;
}

.playlist-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mailing-container {
  padding-top: 16px;
  padding-left: 16px;
  background-color: #F7F7F7;
  width: calc(100% - 16px);
  padding-bottom: 16px;
}

.email-input {
  display: block;
  margin-bottom: 8px;
  padding: 10px;
  width: 270px;
  background-color: white;
  border-radius: 2px;
  border: 0;
}

.name-input {
  display: block;
  margin-bottom: 8px;
  padding: 10px;
  width: 200px;
  background-color: white;
  border-radius: 2px;
  border: 0;
}

.mailing-section {
  margin-bottom: 56px;
}

.footer-logo {
  height: 30px;
}

footer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.footer-icons {
  height: 24px;
}

.btm-container {
  width: 944px;
  margin-top: 24px;
  display: inline-block;
  float: left;
}

.playlist-title {
  margin-top: 0;
}

.social-section {
  width: calc(100% - 992px);
  display: inline-block;
  background: #f7f7f7;
  height: 485px;
  float: right;
  margin-left: 14px;
  padding: 16px;
}

.bottom-row-cont {
  height: 640px;
  width: 100%;
}

.social-title {
  display: inline-block;
  margin-top: 24px;
  margin-left: 14px;
}

.social-container {
  width: 100%;
  height: 435px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.social-link1 {
  width: 100%;
  height: calc((100% / 5) - 8px);
  background-color: white;
}

@media (min-width: 1441px) {
  body {
    margin: 0 384px;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    width: 1308px;
  }
}
